language: rust
rust:
  - nightly
  - beta
  - stable
  - 1.0.0

before_script:
  - |
      pip install 'travis-cargo<0.2' --user &&
      export PATH=$HOME/.local/bin:$PATH

script:
  - |
      travis-cargo build &&
      travis-cargo build --example display &&
      travis-cargo --only nightly test &&
      travis-cargo --only nightly coverage
